*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 786px;
    height: 437px;
    padding: 20px;
    // overflow-y: scroll;
}
.process{
    &__status{
        font-size: .8rem;
    }
    &__list{
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
        ul{
            list-style: none;
        }
        img{
            height: 70px;
            width: 70px;
        }
    }
    &__item{
        display:flex;
        &-box{
            max-width: 600px;
            min-width: 400px;
        }
        &-content{
            display: flex;
            justify-content: space-between;
            align-items: center ;
            position: relative;
            padding: 10px 30px;
            h5{
                width: 100px;
            }
            p{
                width: 100px;
                text-align: center;
            }
            span{
                position: absolute;
                top:0;
                left: 0;
                height: 100%;
                width: 10px;
            }
            cursor: pointer;
        }
    }
}
.btn-finish,.bg-finish,.badge-finish{
    background-color: #4bcf99;
}
